<div class="row mb-5">
  <div class="col-12">
    <h5>Continue Watching</h5>
    <hr>
    <app-media-row [media]="inProgressMovies"></app-media-row>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12">
    <h5>Recommended</h5>
    <hr>
    <div class="color-grey pl-3">
      No Recommended Movies
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12">
    <h5>IMDB Top 100</h5>
    <hr>
    <div class="color-grey pl-3">
      No Top IMDB Movies
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12">
    <h5>Because You Watched: Sherlock Holmes</h5>
    <hr>
    <div class="color-grey pl-3">
      No Recommended Movies
    </div>
  </div>
</div>