<div class="row mb-5">
  <div class="col-12">
    <h5>Continue Watching</h5>
    <hr>
    <app-media-row [media]="inProgressTvshows"></app-media-row>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12">
    <h5>Recommended</h5>
    <hr>
    <div class="color-grey pl-3">
      No Recommended TV
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12">
    <h5>IMDB Top 250</h5>
    <hr>
    <div class="color-grey pl-3">
      No Top 250 TV
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12">
    <h5>Because You Watched: 30 for 30</h5>
    <hr>
    <div class="color-grey pl-3">
      No Recommended TV
    </div>
  </div>
</div>