<app-page>
  <div class="row">
    <div class="col-12">
      <mat-button-toggle-group [value]="'dashboard'" #movieToggleGroup="matButtonToggleGroup" name="movieDisplay" aria-label="Movie Display" class="float-right">
        <mat-button-toggle value="dashboard">Dashboard</mat-button-toggle>
        <mat-button-toggle value="all">All Movies</mat-button-toggle>
        <mat-button-toggle value="collections">Collections</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="clearfix"></div>
  </div>
  <app-movies-dashboard *ngIf="movieToggleGroup.value === 'dashboard'"></app-movies-dashboard>
  <app-movies-all *ngIf="movieToggleGroup.value === 'all'"></app-movies-all>
</app-page>